<!-- The Modal -->
<div id="myModal2" class="modal2">

    <!-- Modal content -->
    <div class="modal-content2">
        <span class="close">&times;</span>
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6 ">
                        <a class="active" id="login-form-link">Login</a>
                    </div>
                </div>
                <hr>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="login-form" action="" method="post"
                              style="display: block;">

                            <div class="form-group">
                                <label>Username and email address</label>
                                <input type="text" name="username" id="username" tabindex="1" class="form-control"
                                       placeholder="Username" value="">
                            </div>
                            <label>Password</label>
                            <div class="form-group form-pass">
                                <input type="password" name="password" id="password" tabindex="2"
                                       class="form-control" placeholder="Password" value="">
                            </div>
                            <p class="error"></p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group text-center remember" style="position: relative;">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember"
                                               style="height: 25px;width: 25px;position: absolute;left: 0;">
                                    </div>
                                    <label style="margin-left: 30px;">
                                        Remember me
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group ">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <input type="submit" name="login-submit" id="login-submit"
                                                       tabindex="4"
                                                       class="form-control btn btn-login" value="Log in"
                                                       style="background-color: #CD5C5C;border-radius:6px; color:white;cursor:pointer;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="text-center">
                                        <a href="#" tabindex="5"
                                           class="forgot-password">Forgot Password?</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>